<h1 class="text-center">Welcome</h1>
<br />
<div class="row">
	<div class="col-md-4 text-left">
		<div class="text-center">
			<p>
				<h4>Configurator</h4>
				<p>
				<img src="images/doormodels/1114.jpg" style="height:450px;" >
				</p>
				<p>
					{{#link-to 'configurator' class="btn btn-primary"}}Run demo{{/link-to}}
				</p>
			</p>
		</div>
	</div>

	<div class="col-md-8" style="padding-right: 20px;">
		<p>
			<h4>About project</h4>
		</p>
		<p class="text-justify">
			Goal of the project is to get first basic experience with frontend frameworks and reactive programming paradigm. 
			There are plenty of frameworks like Angular, Ember, React, Elm, Reactive.js etc... Here I play Ember. It can happen that I am not always going in "right ember way", but time flies so <i>"run demo ... "</i>.  
		</p>
		<hr />
		<br />
		<p>
			<h4>About author</h4>
			<p>Stanislav Jahoda</p>
			<p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 26. 5. 2017</p>
			<span class="glyphicon glyphicon-envelope"></span> <a href="mailto: s.jahoda@weekamp-doors.cz">s.jahoda@weekamp-doors.cz</a>
		</p>
		<hr />
		<br />
		<p>
			<h4>GitHub repository</h4>
			<p><a href="https://github.com/jahodast/ember-configurator">https://github.com/jahodast/ember-configurator</a></p>
		</p>
		<hr />
		<br />
		<p>
			<h4>Used technologies</h4>
				<p>
					Ember - MVC javascript framework
					<ul>
						<li>Services</li>
						<li>Components</li>
						<li>API REST adapters</li>
						<li>API serializers</li>
					</ul>
				</p>
				<p>	
					Firebase - cloud realtime database
				</p>
				<p>
					Jsonplaceholder.typicode.com - Online REST API for Prototyping
				</p>
				<p>
					Bootstrap - Templating/styling framework
					Glyphicon icons
				</p>
			
		</p>
		
		
	</div>
</div>

{{outlet}}
